/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}

.header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  padding-inline: 165px;
  .basketCard {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      width: 20px;
      height: 20px;
    }
    .userImg img {
      width: 35px;
      height: 35px;
    }

    .basketBtn {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e4e9f2;
  width: 1120px;
  a {
    color: #69707d;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 45px;
  }
  a:hover {
    width: 58px;
    border-bottom: 0.5px solid #ff7e1b;
  }
}

.productContainer {
  width: 1100px;
  margin: 0 auto;

  .productsCard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    li {
      list-style: none;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    li:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    .product {
      width: 250px;
      margin-top: 40px;
      .product-rating {
        text-align: left;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 5px;
      }
      .productPrice {
        text-align: left;
        margin-bottom: 24px;
        height: 36px;
        display: block;
        font-size: 23px;
        color: #ff7e1b;

        span {
          margin-right: 5px;
        }
      }
      .productTitle {
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
}

.detail {
  padding: 10px;
  border: 1px solid #ff7e1b;
  border-radius: 8px;
  background-color: #ff7e1b;
  box-shadow: 10px 4px 4px #b6bcc8;
  color: #fff;
}

.productDetailContainer {
  width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 125px;

  img {
    margin: 25px;
    width: 450px;
    height: 450px;
    border: 1px solid rgb(229, 224, 224);
    border-radius: 16px;
  }
  .productDescription {
    p {
      color: #ff7e1b;
    }
    h1 {
      width: 445px;
      font-size: 44px;
      font-weight: 700;
      line-height: 48px;
      text-align: left;
      margin-bottom: 32px;
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      color: #69707d;
      margin-bottom: 24px;
    }

    .addBtn {
      padding: 19px 76px;
      box-shadow: 0px 20px 50px -20px #ff7e1b;
      background: none;
      background-color: #ff7e1b;
      border: none;
      cursor: pointer;
      border-radius: 16px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.84px;
      text-align: left;
    }
    .prices {
      margin-bottom: 24px;

      .discount {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 34.73px;
        text-align: left;
        color: #1d2026;
      }

      h5 {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.84px;
        text-align: left;
        color: #ff7e1b;
        background-color: #ffeee2;
        padding: 8px;
        border-radius: 8px;
      }
      h6 {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        color: #b6bcc8;
        text-decoration: line-through;
      }
    }
  }
}

.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  border: none;
  background: none;
  font-size: 18px;
}
img {
  width: 200px;
  height: 200px;
}

.fa-star {
  color: #ffc107;
}

.fa-star-o,
.fa-star-half-o {
  color: #ccc;
}

.stars {
  display: flex;
  align-items: center;
}

.product-rating {
  display: flex;
  gap: 16px;
  align-items: center;
}

.quantity {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  width: 157px;
  padding: 22px 16px 22px 16px;
  background-color: #f6f8fd;
  font-size: 18px;
  font-weight: bold;
  span {
    font-weight: 700;
    line-height: 19.84px;
    text-align: center;
    color: #1d2026;
  }
  button {
    width: 12px;
    height: 3.33px;
    top: 26px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    color: #ff7e1b;
  }
}


.degiscek {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}